.wallets {

    font-weight: bold;
    text-shadow: 1px 100px #278017;


}

.ethereum {


    display: block;
    margin: 0 auto;
    padding-top: 50px;


}


#address {

    padding-top: 25px;
}


#balance {


    padding-top: 10px;
}




